{% extends 'base.html' %}

{% block title %}
        Formulário de Login
{% endblock title %}

{% block content %}
 <br><br><br>
<div class="d-flex justify-content-center">
     <div class="d-flex justify-content-center">
        <div class="login-form">
            <h2>Informe seus dados de cadastro</h2>
            <form class="form-group" method="post">
               {% csrf_token %}
              <div class="form-group">
                      {{ form.non_field_errors }}
                      {% for field in form %}
                      <div class="form-group" >
                          {{ field.label_tag }}
                          {{ field }}
                          {{ field.errors}}
                      </div>
                      {% endfor %}

                     <input class="btn btn-primary" type="submit" value="Entrar">
                   <p>
                        Não é cadastrado? <a href="" title="">Cadastre-se</a><br>
                        Esqueceu a senha? <a href="" title="">Nova senha</a><br>
                   </p>
              </div>
           </form>
        </div>
     </div>
</div>

</div>

{% endblock %}