<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
   <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" >

</head>
<body>
<div class="header">
    <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
        <a class="pure-menu-heading" href="{% url 'core:home' %}">Refeitório</a>
        <ul>
            <li class="pure-menu-selected"><a href="{% url 'core:home' %}">Início</a></li>
            <li><a href="{% url 'core:home' %}">Home</a></li>
            <li><a href="{% url 'accounts:login' %}">Logar</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </div>
</div>
<div class="content">
    {% block content %}

    {% endblock %}
    <div class="footer">
        Refeitório
    </div>
</div>
<!--<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>-->
</body>
</html>